<center><h2><%= paginate @posts %></h2></center>

<div id="container" class="">
  <% @posts.each do |post| %>
    <div class="post">
        <a href="<%= post.original_url %>" title="<%= post.title.downcase %>"><%= image_tag(post.image.url(:thumb)) %></a>
    </div>
  <% end %>
</div>

<center><h2><%= paginate @posts %></h2></center>